:host ::ng-deep .field-checkbox > label,
.field-radiobutton > label {
  margin-left: 0.5rem;
  line-height: 1;
  font-weight: 500;
}
:host ::ng-deep .p-datatable .p-sortable-column.p-highlight:hover {
  background: #002447;
  color: #ffffff;
}
:host ::ng-deep .p-datatable .p-sortable-column:focus {
  box-shadow: none;
  outline: none;
}
.p-datatable .p-sortable-column:not(.p-highlight):hover {
  background: #002447;
  color: #ffffff;
}
:host ::ng-deep .p-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5px;
}
:host ::ng-deep .p-datatable .p-sortable-column:not(.p-highlight):hover {
  background: #002447;
  color: #ffffff;
}

:host ::ng-deep .p-progress-spinner.custom-spinner {
  width: 50px;
  height: 50px;
  margin-left: 178px;
}

:host ::ng-deep .p-element.ng-trigger.ng-trigger-animation.ng-tns-c92-1.p-dialog.p-component.p-dialog-draggable.p-dialog-resizable.ng-star-inserted  {
  width: 30vw;
  z-index: 1101;
}
:host ::ng-deep  .p-element.ng-trigger.ng-trigger-animation.ng-tns-c92-1.p-dialog.p-component.p-dialog-draggable.p-dialog-resizable.ng-star-inserted{
  width: 30vw;
}

:host ::ng-deep .ng-tns-c92-1.p-dialog-mask.ng-star-inserted {
  background: #2727277d;
}

:host ::ng-deep .p-dialog .p-dialog-footer {
  border-top: 0 none;
  background: #ffffff;
  color: #495057;
  padding: 0 1.5rem 1.5rem 1.5rem;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: right;
  font-weight: 800;
}