@import "node_modules/primeng/resources/primeng.min.css";
@import "node_modules/primeicons/primeicons.css";
/* You can add global styles to this file, and also import other style files */

:host ::ng-deep .p-button.p-button-success,
.p-buttonset.p-button-success > .p-button,
.p-splitbutton.p-button-success > .p-button {
  color: #ffffff;
  background: #689f38;
  border: 1px solid #689f38;
  font-weight: 900;
}
:host ::ng-deep .p-button.p-button-danger,
.p-buttonset.p-button-danger > .p-button,
.p-splitbutton.p-button-danger > .p-button {
  color: #ffffff;
  background: #d32f2f;
  border: 1px solid #d32f2f;
  font-weight: 900;
}

:host ::ng-deep .p-datatable .p-datatable-header {
  background: #002447;
  color: #495057;
  border: 1px solid #e9ecef;
  border-width: 1px 0 1px 0;
  padding: 1rem 1rem;
  font-weight: 500;
  color: white;
}
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 1rem 1rem;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  font-weight: 600;
  color: #ffff;
  font-weight: bolder;
  background: #002447;
  transition: box-shadow 0.2s;
  width: 175px;
}
:host ::ng-deep .title {
  font-weight: 700;
}
:host
  ::ng-deep
  button.p-ripple.p-element.p-button-text-save.p-button.p-component.ng-star-inserted {
  background: #002447;
  font-weight: 800;
  border-radius: 8px;
}
:host
  ::ng-deep
  button.p-ripple.p-element.p-button-text-hide.p-button.p-component.ng-star-inserted {
  color: #002447;
  background: none;
  border-color: #002447;
  font-weight: 800;
  border-radius: 8px;
}
:host ::ng-deep.p-inputtext:enabled:hover {
  border-color: #2196f3;
}
:host ::ng-deep.p-inputtext:enabled:hover {
  border-color: #002447;
}
:host ::ng-deep .p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #c7cacc;
  border-color: #002447;
}
:host ::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: #002447;
  background: #002447;
}
:host::ng-deep .p-radiobutton
  .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
  border-color: #002447;
  background: #002447;
  color: #ffffff;
}
:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 700;
  font-size: 1.3rem;
}
.field > label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
:host ::ng-deep .pi-trash:before {
  content: "\e93d";
  font-weight: 700;
}
:host ::ng-deep .pi-pencil:before {
  content: "\e942";
  font-weight: 600;
}
:host::ng-deep button.p-element.p-ripple.ng-tns-c96-2.p-confirm-dialog-reject.p-button.p-component.ng-star-inserted {
  background: none;
  color: #002447;
}
:host::ng-deep button.p-element.p-ripple.ng-tns-c96-2.p-confirm-dialog-accept.p-button.p-component.ng-star-inserted {
  background: #002447;
  font-weight: 800;
  border-radius: 8px;
}
:host ::ng-deep button.p-element.p-column-filter-add-button.p-button-text.p-button-sm.ng-tns-c89-4.p-button.p-component {
  display: none;
}
:host ::ng-deep .p-column-filter-overlay-menu .p-column-filter-buttonbar {
  padding: 1rem;
  display: none;
}
:host ::ng-deep .p-column-filter-buttonbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}